{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'main_assets/Logo.jpg' %}">
        <link rel="stylesheet" href="{% static 'main_css/404.css' %}">
        <title>404 - Page Not Found</title>
    </head>
    <body>
        <a href="">
            <img id="img404" src="{% static 'main_assets/Logo.jpg' %}" alt="404">
        </a>    
        <h1>Page Not Found</h1>
        <p>Sorry, but the page you were trying to view does not exist.</p>
    </body>
</html>