{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Human Emotions</title>
        <link rel="stylesheet" href="{% static 'human_emotions/css/he.css' %}">
        <link rel="icon" href="{% static 'main/assets/Logo.jpg' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'human_emotions/js/he.js' %}"></script>
    </head>
    <body>
        <div class="main">
            <a href="{% url 'main:main' %}"><img id="logo" src="{% static 'main/assets/Logo.jpg' %}" alt="Logo"></a>
            <a id="he" href="{% url 'human_emotions:he_home' %}"><h1 id="title">Human Emotions</h1></a>
        </div>
        <div class="container">
            <a id="subtitle_link" href="https://github.com/SAM-DEV007/Human-Emotions" target="_blank"><h1 id="subtitle" title="Source code">Source Code</h1></a>
            <h1 id="disclaimer">Disclaimer: The video dimensions are fixed to 640x480 px.</h1>
            <div id="video_main">
                <img id="video">
                <video id="tempvid" hidden></video>
                <canvas id="canvas" hidden></canvas>
            </div>
        </div>
    </body>
    {% include 'footer.html' %}
</html>