{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Human Emotions</title>
        <link rel="stylesheet" href="{% static 'human_emotions/css/he.css' %}">
        <link rel="icon" href="{% static 'main/assets/Logo.jpg' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'human_emotions/js/he.js' %}"></script>
    </head>
    <body>
        <div class="main">

        </div>
        <div class="container">

        </div>
    </body>
    {% include 'footer.html' %}
</html>