@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    margin: 5vh;
    margin-bottom: 0vh;
    background-color: black;
}

#img500 {
    height: 20vh;
    width: 30vh;
}

#header {
    font-family: 'Quicksand', sans-serif;
    font-size: 7vh;
    color: white;
    margin-left: 2vh;
}

#para {
    font-family: 'Courier New', Courier;
    font-size: 3vh;
    color: white;
    margin-top: 3vh;
    margin-left: 2vh;
}