{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'instagram_filters/js/home.js' %}"></script>
        <link rel="icon" href="{% static 'main/assets/Logo.jpg' %}">
        <link rel="stylesheet" href="{% static 'instagram_filters/css/flappy_bird.css' %}">
        <title>Flappy Bird</title>
    </head>
    <body>
        <div class="main">
            <a href="{% url 'main:main' %}"><img id="logo" src="{% static 'main/assets/Logo.jpg' %}" alt="Logo"></a>
            <a id="ig" href="{% url 'instagram_filters:ig_home' %}"><h1 id="title">Instagram Filters</h1></a>
        </div>
        <div class="container">
            <a id="subtitle_link" href="https://github.com/SAM-DEV007/Instagram-Filters" target="_blank"><h1 id="subtitle" title="Source code">Flappy Bird</h1></a>
            <h1 id="disclaimer">Disclaimer: The video dimensions are fixed to 640x480 px.</h1>
            <div id="video_main">
                <img src="{% url 'instagram_filters:flappy_bird_feed' %}", alt="Video not found!", id="video">
                <h1 id="restart">RESTART</h1>
            </div>
        </div>
    </body>
    {% include 'footer.html' %}
</html>