{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'main/assets/Logo.jpg' %}">
        <link rel="stylesheet" href="{% static 'instagram_filters/css/flappy_bird.css' %}">
        <title>Flappy Bird</title>
    </head>
    <body>
        <div class="main">
            <img id="logo" src="{% static 'main/assets/Logo.jpg' %}" alt="Logo">
            <h1 id="title">Instagram Filters</h1>
        </div>
        <div class="container">
            <h1 id="subtitle">Flappy Bird</h1>
            <h1 id="disclaimer">Disclaimer: The video dimensions are fixed to 640x480 px.</h1>
            <div id="video_main">
                <img src="{% url 'instagram_filters:flappy_bird_feed' %}", alt="Video not found!", id="video">
            </div>
        </div>
    </body>
    {% include 'footer.html' %}
</html>