{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'word_classifier/js/wc.js' %}"></script>
        <link rel="icon" href="{% static 'main/assets/Logo.jpg' %}">
        <link rel="stylesheet" href="{% static 'word_classifier/css/wc.css' %}">
        <title>Word Classifier</title>
    </head>
    <body>
        <div class="main">
            
        </div>
        <div class="container">

        </div>
    </body>
    {% include 'footer.html' %}
</html>