@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    margin: 38.8px;
    margin-bottom: 0px;
    background-color: black;
    min-height: 737.2px;
    display: flex;
    flex-direction: column;
}

#logo {
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

#title {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    color: white;
    margin-left: 35.8px;
    cursor: pointer;
}

#ig {
    color: white;
    text-decoration: none;
}

#subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: yellow;
    margin-left: 115.8px;
    margin-top: -20px;
    cursor: pointer;
    text-decoration: none;
}

#disclaimer {
    font-family:'Times New Roman', Times, serif; 
    font-size: 1rem;
    color: white;
    margin-left: 115.8px;
}

.main {
    display: flex;
    align-items: center;
}

.container {
    min-height: calc(100vh - 270px);
}

#video_main {
    margin-top: 50.8px;
    display: grid;
    height: calc(100vh - 270px);;
    place-items: center;
}

#video {
    color: white;
    width: 640px;
    height: 480px;
}

#restart {
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}