@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    margin: 38.8px;
    margin-bottom: 0px;
    background-color: black;
    min-height: 737.2px;
    display: flex;
    flex-direction: column;
}

#logo {
    height: 5rem;
    width: 5rem;
}

#title {
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    color: white;
    margin-left: 38.8px;
}

.main {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 270px);
}

#control {
    display: flex;
    justify-content: center;
}

.arrow {
    margin-top: 23.28px;
    border-radius: 7.76px;
    width: 77.6px;
    height: 77.6px;
    cursor: pointer;
}

#left {
    opacity: 0;
    visibility: hidden;
}

#right {
    margin-left: auto;
}

.window {
    border: 11.64px solid #333333;
    border-radius: 1vh;
    top: 50%;
    left: 50%;
    width: 465.6px;
    height: 232.8px;
    padding: 38.8px;
    padding-top: 0px;
    padding-bottom: 15.52px;
    margin-top: 23.28px;
    background-color: white;
}

.ignormal {
    height: 232.8px;
    transition-duration: 1.5s;
    transition-delay: 0.5s;
}

.igextend {
    height: 465.6px;
    transition-duration: 1.5s;
}

#igwindow {
    text-align: center;
}

#igwindow_text {
    border: 2.328px solid black;
    border-radius: 7.76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.igtxt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    margin: 38.8px;
    padding: 7.76px;
    border-radius: 7.76px;
    border: solid 2.328px wheat;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.iglink {
    visibility: hidden;
}

.igsubshow {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
    transition-delay: 1s;
}

.igsubhide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#igflappy_text {
    color: yellow;
    background-color: black;
}

#igmaths_text {
    color: white;
    background-color: green;
}

#ighand_text {
    color: black;
    background-color: peachpuff;
}

#igflappy {
    color: yellow;
}

#igmaths {
    color: white;
}

#ighand {
    color: black;
}

.single {
    text-align: center;
    visibility: hidden;
}

.singletxt {
    border: 2.328px solid black;
    border-radius: 7.76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: black;
    opacity: 0;
}

.singlelink {
    color: black;
}

#wclwindow {
    margin-top: -310.4px;
}

#wclwindow_text {
    cursor: pointer;
}

#hewindow {
    margin-top: -67.4px;
}

#hewindow_text {
    cursor: pointer;
}

#comingsoon {
    margin-top: -65.4px;
}